body{
    background-color: rgb(202, 138, 59);
    image-resolution: 100%;
}

h2{
    margin-left: 50px;
}

h1{
    text-align: center;
    
    border-radius: 10px;
}

#nome{
    text-align: center;
    border-radius: 10px;
}

img{
    
    margin:left 100%;
    margin: 0% auto;
    border-radius: 10px;
    
}

button{
    cursor: pointer;
    padding: 3px;
    border: 0px solid;
    border-radius: 10px;
    margin:auto;

}

iframe{
    display: flex;
    margin: 0% auto;
}
.container{
    margin-top: 100px;
    display: flex;
}
.container1{
margin-left: 300px;
}

.texto{
    margin-left: 50px;
}

.name{
    
    margin-left: 50px;
}